/* -------- */

body { 
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh;
  color: #ffffff73;
  font: 500 1rem/1.5 "Inter",sans-serif;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.text-small {
  font-size: 85%;
}

.bg-navbar{
  background-color: #424242;
}

.bg-sidebar{
  background-color: #474747;
}

.bg-chat{
  background-color: #4d4d4d;
}

.bg-input-chat{
  background-color: #5c5c5c !important;
  border: 0;
  color: #fff !important;  
}

.icon-navbar{
  font-size: 2rem;
  color: #ffffff73;

  pointer-events: none;
  fill: currentColor;
}








